body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:600px;
    background-color: darkseagreen;
}

h1{
    text-align: center;
}

.container{
    width:600px;
    height: 600px;
    display:grid;
    z-index: 100;
    border:solid black 1px;
    background-color: white;
}

.btn{
    padding:5px;
    margin:10px;
    background-color: white;
    border:1px black solid;
}